.data-list-layout
  &__top-row
    padding-bottom 20px
    display flex
    align-items baseline
  &__page-limit
    &_label
      display flex
      align-items baseline
      margin-left auto
    &_input
      width 5rem
      text-align center
      padding 5px 0
      margin-left 10px