.table-manage-button
  color: #008cba
  padding: 5px 7px
  background-color: transparent
  border-radius: 50px
  background-repeat: no-repeat
  border: none
  overflow: hidden
  outline: none
  &:hover
    background-color: #CCC