.spinner-wrapper
  &__spinner
    position fixed
    left 50%
    top 50%
    margin-left -4rem
    margin-top -4rem
    z-index 5
    &_sticky
      top 10%
      margin-top 4rem
  
  &__background
    &_isLoading
      opacity 0.0
      background-color #B6D4DF
      position fixed
      width 100%
      height 100%
