.date-filter
  width: 33%
  padding: 0px 15px 0px 15px
  &__inputs
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
  
  &__input-wrapper
    width: 45%
    display: flex
    align-items: center
    justify-content: space-around
    .form-group
      margin-bottom: 0px
      width: 85%
  
  &__date-input-label
    margin-right: 10px