html, body {
  width: 100%
}

.page-title
  margin-bottom: 20px

.error-block, .success-block
  margin-bottom: 15px
  margin-top: 15px
  width: 100%
  text-align: center

.submit-button
  margin-top: 15px

.html-textarea-group
  textarea
    height: 400px

.input-label
  text-transform: capitalize
  font-weight: bold
  font-size: 13px

.pagination-component
  li
    a
      color: #000

.center-content-block
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  h3
    margin: 0px 0px 20px 0px