.filter-block
  &__panel-header-text
    margin-right: 10px

  &__panel-header
    padding: 8px
    display: flex
    flex-direction: row
    align-items: center
    cursor: pointer
    &:hover
      background-color: #0080AF

  &__filters-container
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap
    width: 100%

  &__filter-item-wrapper
    width: 33%
    padding: 0px 15px 0px 15px

  &__filter-panel
    .panel-heading
      padding: 0px
      border-width: 0px
      .panel-title
        a
          text-decoration: none
          