.header-button
  padding: 8px 15px
  margin-left: 5px
  color #FFF
  background-color: Transparent
  background-repeat: no-repeat
  border: none
  overflow: hidden
  outline: none

  &:hover
    background-color: #006687
    color #FFF
    border-radius: 5px

  &:active
    background-color: #004860

  &__text
    margin-left: 10px